footer.footer

    .footer__logo
        img(src='/img/logo-green.png' alt='Natours logo')
        button.btn.footer__button#search-button Calculate Your Distance!
    ul.footer__nav 
        li: a(href='#') About us
        li: a(href='#') Download apps
        li: a(href='#') Become a guide
        li: a(href='#') Careers
        li: a(href='#') Contact us
    p.footer__copyright &copy; by Natours. All rights reserved

    // 引入exchange.js
    //script(src='/js/exchange.js')
    script(src='/js/search.js')
